/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q  &kp W  &kp E   &kp R      &kp T        &kp Y           &kp U  &kp I      &kp O    &kp P     &kp LBKT
&trans  &kp A  &kp S  &kp D   &kp F      &kp G        &kp H           &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&trans  &kp Z  &kp X  &kp C   &kp V      &kp B        &kp N           &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RBKT
                      &trans  &kp SPACE  &sk LCTRL    &sk LEFT_SHIFT  &to 1  &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp ESCAPE  &kp AT_SIGN  &kp HASH        &kp DOLLAR        &kp PERCENT             &kp CARET              &kp AMPERSAND      &kp ASTERISK  &kp SEMICOLON  &kp BACKSPACE  &trans
&trans  &kp TAB     &kp GRAVE    &kp EQUAL       &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp PLUS      &kp PIPE       &kp ENTER      &trans
&trans  &kp TILDE   &trans       &kp UNDERSCORE  &kp SQT           &kp LEFT_BRACE          &kp RIGHT_BRACE        &kp DOUBLE_QUOTES  &kp MINUS     &kp BACKSLASH  &to 2          &trans
                                 &trans          &to 0             &sk RCTRL               &sk LEFT_SHIFT         &to 3              &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp ESC  &kp F1  &kp F2   &kp F3   &kp F4     &trans    &trans    &trans  &trans     &kp BSPC  &trans
&trans  &kp TAB  &kp F5  &kp F6   &kp F7   &kp F8     &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp RET   &trans
&trans  &trans   &kp F9  &kp F10  &kp F11  &kp F12    &trans    &trans    &trans  &trans     &trans    &trans
                         &trans   &to 0    &trans     &trans    &to 1     &trans
            >;
        };

        layer_3 {
            bindings = <
&trans       &kp ESC  &kp C_PAUSE  &kp C_PREVIOUS        &kp C_NEXT            &kp UNDERSCORE    &kp MINUS       &kp N7  &kp N8  &kp N9  &kp BSPC  &trans
&trans       &kp TAB  &trans       &kp C_VOLUME_DOWN     &kp C_VOLUME_UP       &kp PLUS          &kp EQUAL       &kp N4  &kp N5  &kp N6  &kp RET   &trans
&kp C_RESET  &trans   &kp PERIOD   &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp ASTERISK      &kp N0          &kp N1  &kp N2  &kp N3  &to 2     &trans
                                   &trans                &to 0                 &sk LEFT_GUI      &sk LEFT_SHIFT  &to 1   &trans
            >;
        };
    };
};
